
.calk {
}
.calk__title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}
.calk__body {
  display: flex;
  justify-content: space-between;
}

.body-calk-collumn {
  flex: 0 1 50%;
  margin: 10px 40px;
}
.body-calck__input {
  border: 1px solid black;
  padding: 20px;
}
.body-calck__form {
}
.input-field{
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: space-evenly;
}
.input-field >*:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.input-field__left, .input-field__right {
  height: 40px;
  width: 100px;
}
.input-field__right {
}
.calk-form__buttton-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.buttton-field {
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.body-calck__output {
  border: 1px solid black;
  padding: 20px;
}

.calk-result{
  font-size: 25px;
  font-weight: 500;
}

@media (max-width:767px) {
  .calk__title {
    margin: 0px 0px 15px 0px;
  }
  .body-calk-collumn {
    margin: 10px 20px;
  }
  .input-field__left, .input-field__right {
    height: 30px;
    width: 80px;
  }
  .buttton-field {
    height: 40px;
    width: 40px;
  }
  
}

@media (max-width: 645.98px){
  .body-calk-collumn {
    margin: 10px;
  }
  /* .input-field__left, .input-field__right {
    height: 25px;
    width: 60px;
  }
  .buttton-field {
    height: 30px;
    width: 30px;
    font-size: 20px;
  } */
  .calk-result{
    font-size: 20px;
  }
}
@media (max-width: 479.98px) {
  .calk__body {
    flex-direction: column-reverse;
    align-items: center;
  }

  .body-calck__input,
  .body-calck__output {
    width: 65%;
  }
}