.func {

}
.func__body {
}  
.func__title {
  display: flex;
  width: 100%;
  justify-content: center;

}
.title-func {
  
}
.func__form {
}
.form-func {
}
.form-func__title {
  font-size: 25px;
  font-weight: 700;
}
.form-func__body {
}
.item-form {
  display: flex;
  margin: 20px 0px 0px 0px;
}
.item-form__txt {
}
.item-form__input {
  margin: 0px 0px 0px 10px;
}
.form-func__submit{
  
}
