.tort {
	&__container {
	}

	&__title {
		font-size: 30px;
		font-weight: bold;
		max-width: 800px;
		margin: 10px auto;
	}

	&__body {
		border: 2px solid black;
		max-width: 800px;
		height: 100%;
		margin: 10px auto;
	}

	&__form {
	}
}


.cont-flex {
	display: flex;
	&__item {
		flex: 0 1 33.333%;
		border: 2px solid black;
		padding: 15px;
	}
}
.form-tort {
	&__testo {
	}

	&__cream-decoration {
	}

	&__type {
	}

	&__data {
		border: 2px solid black;
		padding: 15px;
	}
}

.testo__title,
.cream__title,
.decoration__title,
.type__title,
.data__title {
	margin: 0px 0px 10px 0px;
	font-size: 22px;
	color: rgb(96, 94, 94);
	font-weight: 600;
}

.testo {
	&__title {
	}

	&__radio {
	}
}

.cream {
	&__title {
	}

	&__radio {
	}
}

.decoration {
	&__title {
		margin-top: 25px;
	}

	&__checkbox {
	}
}

.type {
	&__title {
	}

	&__select {
		width: 150px;
		padding: 5px;
		font-size: 15px;
	}
}

.data {
	&__title {
	}

	&__text {
	}
}

.section-radio {
	&__item:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	&__item {
		font-size: 18px;
	}
}

.input-radio {
}

.section-checkbox {
	&__item:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	&__item {
		font-size: 18px;
	}
}

.input-checkbox {
}

.section-select {
	&__item {
	}
}

.section-data {
	&__item:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}
	&__item {
		font-size: 18px;
	}
	&__item input,
	&__item select {
		margin: 0px 0px 0px 10px;
		padding: 5px;
	}
}

.input-text {
}

.section-button {
	&__item {
	}
}
